<h1>Home Page</h1>

<h2>Admin Menu</h2>
<ul style="display: flex;">
  <li style="background-color: #ddd;padding: 5px 20px;list-style: none;margin: 0px 5px;"><a href="admin/login">Login</a></li>
  <li style="background-color: #ddd;padding: 5px 10px;list-style: none;margin: 0px 5px;"><a href="admin/list">List</a></li>
</ul>

<h2>User Menu</h2>
<ul style="display: flex;">
  <li style="background-color: #ddd;padding: 5px 20px;list-style: none;margin: 0px 5px;"><a href="user/login">Login</a></li>
  <li style="background-color: #ddd;padding: 5px 10px;list-style: none;margin: 0px 5px;"><a href="user/list">List</a></li>
</ul>

<router-outlet></router-outlet>